<div class="jumbotron">
  <h2>Codail (Irish for sleep)</h2>
  <p class="lead">A simple test server that sleeps for a given period before returning a response</p>
</div>

<pre>
  curl http://codail.chrismcg.com/sleep/500
</pre>

<p>Will sleep for 500ms before returning a 200 OK response</p>
